@import "../../App.scss";
.Login{
    width:100svw;
    height: 100svh;
    @include flex(space-around,center); 
    .flex_item{
        position: relative;
        width:60%;
        height:100%;

    }
    .image{
        background-image:linear-gradient(30deg, 
        var(--primary-clr_dark__Alpha),var(--primary-clr_light__Alpha)),url("../../Assets/group.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        &::after{
            position: absolute;
            content: "";
            right:0;
            width:0;
            height:0;
            display: block;
            border-left: 10rem solid transparent;
            border-bottom :100vh solid var(--acent-clr_bright);
        }

    }
    .login_container{
        background-color: var(--acent-clr_bright);
        width:40%;
        .login{
            border-radius: 10px;
            padding-top: 1.5rem;
            position: absolute;
            @include position(50%,50%,-50%,-50%);
            @include flex(center,flex-start);
            flex-direction: column;
            padding:0.5rem;
            width:80%;
            max-width: 20rem;
            background-color: var(--acent-clr_bright);
            label{
                color: var(--clr_dark);
                margin: 0rem 1rem;
                font-size: small;
                font-weight: 500;
                #chkbx{
                    width:1rem;
                    height:1rem;
                    cursor: pointer;
                }
            }
            input,.sign_in{
                color: var(--clr_dark);
                position: relative;
                width:90%;
                margin:1rem auto;
                border: 1px solid var(--clr_dark);
                height:2rem;
                padding-left: 0.5rem;
                border-radius: 10px;
                &:focus{
                    outline: none;
                }
            }
            .sign_in{
                border: none;
                background: var(--primary-clr_light);
                color:var(--acent-clr_bright);
                font-weight: bold;
                margin-top: 0;
            }
            .link_conatiner{
                font-size: 11px;
                color:var(--primary-clr_light);
                @include flex(space-around,center);
                width:100%;
                margin: 0.5rem 0;
                text-decoration: underline;
            }
            .icon_container{
                @include flex(center,center);
                width:100%;
                position: relative;
                height:4rem;
                h6{
                    position: absolute;
                    text-align: center;
                    @include position(0%,50%,-50%,0%);
                    color:var(--clr_dark);
                }
                .Icon{
                    color:var(--primary-clr_light);
                    cursor: pointer;
                }
            }
        }
        
    }
}
@include mobile{
    .Login{
        background-image:linear-gradient(30deg, 
        var(--primary-clr_dark__Alpha),var(--primary-clr_light__Alpha)),url("../../Assets/group.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .image{
            display: none;
        }
        .login_container{
            width:100%;
            position: relative;
            background-color: transparent;
            
        }
    }
}