.Cover{
    width: 100vw;
    height:90vh;
    background-image: linear-gradient(rgba(3, 3, 3, 0.664), rgba(0, 0, 0, 0.637)), url("../../Assets/hero.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .descContainer{
        width:90%;
        height:15rem;
        position: relative;
        top:35%;
        left:50%;
        transform:translate(-50%,-50%);
        // z-index: 0;
        span{
            font-weight: bold;
            color:goldenrod;
            font-size: 3rem;
            overflow-wrap: break-word;
        }
    }
}