@import "../../App.scss";
.User{
    position: relative;
    width:100vw;
    .cover{
       background-color: var(--primary-clr_dark);
       position: relative;
       padding-top: 0.5rem;
       width:100%;
       .coverImg{
        position: relative;
        margin-top: 0.5rem;
        width:100%;
        height:50vh;
        img{
            position: absolute;
            width:100%;
            height:100%;
            object-fit: fill;
        }
        .addCvr{
            background-color: #000000b4;
            position: absolute;
            width:3rem;
            height:2rem;
            color:var(--acent-clr_bright);
            right:2rem;
            bottom:2rem;
        }
       }
    }
    .userContainer{
        position: relative;
        margin: 1.5rem auto;
        width:70vw;
        background-color: var(--acent-clr_bright);
        box-shadow: 0 0 10px 5px #00000021;    
        @include flex(center,center);
        .userInfo{
            position: relative;
            width:100%;
            @include flex(space-between,center);
            .details{
                width:40%;
                padding: 0.5rem;
                color:var(--clr_dark);
                span{
                    font-size: 0.8rem;
                    h3{
                        font-size: 2rem;
                    }
                }
                h3
                span,h1{
                    margin: 0.2rem;
                }
            }
            .profile{
                width:10rem;
                height:10rem;
                position: relative;
                border-radius: 50%;
                img{
                    position: absolute;
                    width:100%;
                    height:100%;
                    border-radius: inherit;
                }
            }
        }
    }
}