@import "../../App.scss";
.User{
    position: relative;
    width:100vw;
    .nav-wrapper{
        position: relative;
        width:100%;
        height:100vh;
        background-color: var(--primary-clr_dark);
        background-image:linear-gradient(45deg,var(--primary-clr_light__Alpha),transparent);
        background-size: 4rem 4rem;
        background-attachment: fixed;
        padding-top: 1rem;
        .user-wrapper{
            --width:50%;
            --height:20rem;
            position:absolute;
            width:var(--width);
            height: var(--height);
            color:var(--acent-clr_bright);
            top:calc( 50% - var(--height) / 2);
            left:calc( 50% - var(--width) / 2);
            @include flex(center,center);
            gap:0.5rem;
            flex-direction: column;
            .dp-wrapper{
                width:70%;
                max-width: 15rem;
                aspect-ratio: 1;
                position: relative;
                border-radius: 50%;
                img{
                    position: absolute;
                    width:100%;
                    height: 100%;
                    border-radius: inherit;
                }
            }
            button{
                position: relative;
                width:15rem;
                height: 2.5rem;
                border: none;
                border-radius: 20px;
                color:var(--primary-clr_light);
                font-size: 1em;
                font-weight: bold;
                cursor: pointer;
                transition: 0.2s ease-in-out;
                &:hover{
                    transform: scale(1.2);
                    box-shadow: 0 0 5px var(--acent-clr_dull);
                }
            }
        }
    }
    
}


@include big-tablet{
    .User{
        .userContainer{
            flex-wrap: wrap;
            padding: 1rem;
            justify-content: center;
            gap:0.5rem;
            .userInfo{
                width:100%;
                flex-direction: row;
                height: auto;
                margin: 0;
                padding: 0 1rem;
                border-radius: 0;
                .profile{
                    order:1;
                }
                .details{
                    text-align: left;
                }
            }
        }
    }
}
@include mobile{
    .User{
        .userContainer{
            height: auto;
            .userInfo{
                text-align: center;
                padding:1rem 0 0 0 ;
                flex-direction: column;
                .profile{
                    order: 0;
                    border-radius: 50%;
                    outline: 3px solid var(--primary-clr_dark);
                    outline-offset: 5px;
                    img{
                        border-radius: inherit;
                    }
                }
            }
            .coursesIn{
                grid-template-columns: 100%;
                max-height: fit-content;
            }
        }
    }
}