.Hero{
    height:80vh;
    width:100vw;
    position: relative;
    .Arrow{
        position:absolute;
        top:50%;
        color:#fff;
        background: rgba(0, 0, 0, 0.5);
        width:3rem;
        height: 3rem;
        cursor: pointer;
        &.right{
            right:0;
        }
    }
    img{
        height:100%;
        width: 100%;
        position: relative;
        z-index: -9;
    }
}