.About{
    position: relative;
    max-width:100vw;
    display: flex;
    background: linear-gradient(to bottom right,#3824CD,rgb(9, 209, 132),#3824CD);

    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    .flexItem{
        width:10rem;
        height:9rem;
        color:#fff;
        text-align: center;
        margin: 0.5rem;
        font-weight: bold;
        font-size: 1.1rem;
        .Icon{
            display: block;
            margin: 0.5rem auto;
            width:5rem;
            height:5rem;
            color: #fff;
            border:1px solid #fff;
        }
    }
}