$logoFont:'Concert One', cursive;
// color:#3824CD;
.Navbar{
    width:100vw;
    height:3rem;
    background-color: #3824CD;
    display: flex;
    justify-content: space-between;
    .logo{
        height:100%;
        width:18rem;
        display: flex;
        justify-content: space-between;
        img{
            height:2.5rem;
            width:2.5rem;
            margin:1rem;
            margin-top: 0.3rem;
        }
        .text{
            font-weight: bolder;
            font-size: 2rem;
            font-family: $logoFont;
            margin: 0.3rem 0 0 0;
            color:#fff;
        }
    }
    .navItemContainer{
        height: 100%;
        width:25rem;
        position: relative;
        text-align: center;
        .hamburgerMenu{
            display: none;
        }
        .navList{
            .item{
                margin: 0.8rem 0.7rem 0 0;
                cursor: pointer;
                color:#fff;
                font-weight: bolder;
                
                &::after{
                    content: "";
                    display: block;
                    position: relative;
                    width:0%;
                    height:0.2rem;
                    background-color: #fff;
                    transition: 0.2s ease-in-out;
                }
                &:hover::after{
                    width:100%;
                }
            }
            .login{
                width:3rem;
                height:1rem;
                background-color: #fff;
                border: none;
                border-radius: 5px;
                color:#3824CD;
                cursor: pointer;
            }
        }
    }
}

// ========Responsive Desgin========
@media(max-width:700px){
    .Navbar{
        .logo{
            .text{
                font-size: 1.5rem;
                left:-3rem;
                position: relative;
            }
        }
        .navItemContainer{
            width:4rem;
            position: relative;
            background-color: #0c0068;
            .navList{
                position: relative;
                margin-top: -0.1rem;
                padding: 1.2rem;
                height:20rem;
                width:10rem;
                transition: 0.2s ease-in-out;
                transform: scaleX(0);
                z-index: 100;
                .item{
                    display: block;
                    margin-bottom: 1rem;
                    &::after{
                        display: none;
                    }
                }
               &.click{
                transform: scaleX(1);

                translate: -6rem;
                background-color: #0c0068;
                
               }
            }
            .hamburgerMenu{
                height:90%;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width:90%;
                margin:0.1rem auto;
                cursor: pointer;
                
                span{
                    width:70%;
                    height:0.3rem;
                    background-color: #fff;
                    display: block;
                    border-radius: 20px;
                    transition: all 0.2s ease-in-out;
                    &::after,&::before{
                        display: block;
                        content: "";
                        position: absolute;
                        border-radius: 20px;
                        height:0.3rem;
                        width:70%;
                        background-color: #fff;
                        transition: all 0.2s ease-in-out;
                    }
                    &::before{
                        top: 6px;
                    }
                    &::after{
                        top:2.1rem;
                    }
               }
               &.clicked{
                background-color: #0c0068;
                    span{
                        height:0;
                        &::after{
                            transform-origin: 5% -100%;
                            transform: rotate(-45deg);
                        }
                        &::before{
                            transform-origin: 15% 200%;
                            transform: rotate(45deg);
                        }
                    }
               }
            }
        }
    }
}