.Courses{
    margin: 1rem auto;
    width:95vw;
    border-radius: 10px;
    .heading{
        position: relative;
        width:95%;
        height:4rem;
        display: flex;
        outline: 1px solid blue;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        .flxitm{
            position: relative;
            height:70%;
            width:13rem;
            color:#3824CD;
            font-weight: bold;
            font-size: 1.2rem;
        }
        div{
            .book{
                margin: 0.7rem;
                transform: scale(1.5);
            }
           span{
            position: relative;
            top:-1rem;
           }
        }
        .btn{
            border: none;
            width:40%;
            max-width: 13rem;
            border-radius: 10px;
            margin-right: 0.5rem;
            background: rgb(48, 206, 48);
            color:#fff;
            cursor: pointer;
        }
    }
    .course--container{
        width:100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding:0.5rem;
        .courseList{
            position: relative;
            width:15rem;
            height:20rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.514);
            margin: 1rem;
            .subject{
                position: relative;
                width:100%;
                height:45%;
                font-weight: bolder;
                padding:0.3rem;
                color: #3824CD;
                font-size: 2rem;
                .Icon{
                    display: block;
                    width:4rem;
                    height:4rem;
                }
            }
            .content{
                padding: 0.5rem;
                line-height: 1.4rem;
                overflow-wrap: break-word;
                color:#494747be;
                .btn{
                    display: block;
                    border: none;
                    border-radius: 20px;
                    width:7rem;
                    height: 2rem;
                    margin: 0.5rem;
                    color:#fff;
                    font-size: 1.2rem;
                    background-color: #3824CD;
                    cursor: pointer;
                }
            }
        }

    }
}