:root{
    // =======VARIABLES========
--primary-clr_dark:hsl(220, 100%, 35%);
--primary-clr_light:hsl(206, 86%, 37%);
--acent-clr_bright:hsl(0, 0%, 100%);
--acent-clr_dull:hsl(0, 9%, 89%);
--clr_dark:hsla(0, 0%, 0%, 0.781);
--clr_light:hsla(0, 0%, 0%, 0.26);
--logoFont:'Bebas Neue', cursive;

}
@mixin flex($justify,$aligin){
    display: flex;
    justify-content: $justify;;
    align-items: $aligin;
}
@mixin position($TOP,$LEFT,$t_X,$T_Y){
    top:$X;
    left:$LEFT;
    transform: translate($t_X,$T_Y);
}