:root{
    // =======VARIABLES========
--primary-clr_dark:hsl(220, 100%, 35%);
--primary-clr_light:hsl(206, 86%, 37%);
--acent-clr_bright:hsl(0, 0%, 100%);
--acent-clr_dull:hsl(0, 9%, 89%);
--clr_dark:hsla(0, 0%, 0%, 0.726);
--clr_light:hsl(0, 0%, 100%);
--logoFont:'Bebas Neue', cursive;

}