@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*,*::after,*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,body{
  height: 100%;
  // overflow: hidden;
  font-family:sans-serif;
  background-color: var(--acent-clr_dull);
}
h1,h2,h3,h4,h5,h6{
  overflow-wrap: break-word;
}
img{
  display: block;
  max-width: 100%;
}
li{
  display: inline-block;
}


// --e-global-color-astglobalcolor0: #0274be;
//     --e-global-color-astglobalcolor1: #0d68ae;
//     --e-global-color-astglobalcolor2: #2f3f50;
//     --e-global-color-astglobalcolor3: #3a3a3a;
//     --e-global-color-astglobalcolor4: #fafafa;
//     --e-global-color-astglobalcolor5: #ffffff;
//     --e-global-color-astglobalcolor6: #003bb1;
//     --e-global-color-astglobalcolor7: #FBFCFF;
//     --e-global-color-astglobalcolor8: #BFD1FF;